node_modules/
*.db
__pycache__/
*.pyc
*.pyo
*.env
.env
Frontend/dist/
Backend/static/
*.bak
*.tmp
Backend/Data/fund_list_cache.json
Backend/Data/sector_rank_cache.json
Backend/Data/stock_list_cache.json
